<section class="home_banner_area shadow-lg w-100 text-light mt-0 d-flex position-relative align-self-center align-middle z-index-1">
    <div class="banner_inner overflow-hidden w-100 text-light mt-0 position-relative d-flex align-self-center align-middle">
        <div class="container align-self-center align-middle">
            <div class="row">
                <div class="col-lg-6">
                    <div class="banner_content position-relative lh-sm text-light mt-0">
                        <h2 class="mt-0 fs-1 fw-bold lh-sm">
                            We Rank the Best <br>
                            Courses on the Web
                        </h2>
                        <p class="fs-5 w-75 fw-normal">
                            In the history of modern astronomy, there is probably no one greater leap forward than the
                            building and launch
                            of
                            the space telescope known as the Hubble.
                        </p>
                        <div class="search_course_wrap mt-4 mb-5 w-100">
                            <div class="form_box input-group shadow">
                                <input type="text" placeholder="Search Courses" class="form-control form_box border-0 inline-block w-75 text-light bg-transparent">
                                <button type="button" class="btn shadow text-uppercase search_course_btn">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="feature_area">
    <div class="container align-self-center align-middle">
        <div class="row justify-content-end">
            <div class="col-lg-4">
                <div class="single_feature1 position-relative text-light pt-5 pb-5 ps-3 pe-5 mb-4 d-flex rounded-3 flex-row pb-30">
                    <div class="icon me-2">
                        <i class="fas fa-book fs-3"></i> 
                    </div>
                    <div class="desc">
                        <h4 class="mt-2 mb-3 text-light">New Classes</h4>
                        <p class="m-0">
                            In the history of modern astronomy, there is probably no one greater leap forward building
                            and launch.
                        </p>
                    </div>
                </div>
                <div class="single_feature2 position-relative text-light pt-5 pb-5 ps-3 pe-5 mb-4 d-flex rounded-3 flex-row pb-30">
                    <div class="icon me-2">
                        <span class="fs-3 fa fa-trophy"></span>
                    </div>
                    <div class="desc">
                        <h4 class="mt-2 mb-3 text-light">Top Courses</h4>
                        <p class="m-0">
                            In the history of modern astronomy, there is probably no one greater leap forward building
                            and launch.
                        </p>
                    </div>
                </div>
                <div class="single_feature3  position-relative text-light pt-5 pb-5 ps-3 pe-5 mb-4 d-flex rounded-3 flex-row">
                    <div class="icon me-2">
                        <i class="fas fs-3 fa-desktop"></i>
                    </div>
                    <div class="desc">
                        <h4 class="mt-2 mb-3 text-light">Full E-Books</h4>
                        <p class="m-0">
                            In the history of modern astronomy, there is probably no one greater leap forward building
                            and launch.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-department></app-department>
<app-events></app-events>