<div class=" section_gap primary-btn card pt-5 pb-5 registration_area mt-5 mb-5 ms-4 me-4 shadow">
    <div class="container card-body shadow mt-2 mb-2">
        <div class="row align-items-center mt-3 mb-3">
            <div class="col-lg-4">
                <div class="register_form  bg-white p-3 shadow">
                    <h2 class="text-center lh-1">Courses for Free</h2>
                    <p class="text-center lh-1">It is high time for learning</p>

                    <input name="name" id="R_Name" class="w-100 border-bottom p-2 border-none" placeholder="Your Name"
                        required type="text">
                    <span id="R_Name_err" class="text-danger text-start"></span>

                    <input name="email" id="R_Address" class="w-100 border-bottom p-2 border-none"
                        placeholder="Your Email Address" required type="email">
                    <span id="R_Address_err" class="text-danger text-start"></span>

                    <input name="email" id="R_Password" class="w-100 border-bottom p-2 border-none"
                        placeholder="Your Password" required type="email">
                    <span id="R_Password_err" class="text-danger text-start"></span>

                    <button onclick="login()"
                        class="primary-btn btn2 fw-bold w-100 mt-5 position-relative border-0 pt-3 pb-3 text-uppercase">Login</button>
                    <!-- <button type="submit" class="btn shadow fs-5 position-relative border-0 fw-bold text-uppercase search_course_btn">Search</button> -->
                </div>
            </div>
            <div class="col-lg-7 offset-lg-1">
                <div class="row clock_sec text-light clockdiv p-2" id="clockdiv">
                    <div class="col-lg-12 shadow mb-5">
                        <h1 class="text-center">Login</h1>
                        <p>There is a moment in the life of any aspiring astronomer that it is time to buy that first
                            telescope. It’s
                            exciting to think about setting up your own viewing station.</p>
                    </div>
                    <div class="col shadow p-1 text-center rounded-3 mt-5 me-2 ms-1 clockinner">
                        <div class="overflow-hidden">
                            <img src="../assets/Images/book.jpg" class="inline-block shadow" height="115" width="135">
                        </div>
                        <span>Books</span>
                    </div>
                    <div class="col shadow p-1 text-center rounded-3 mt-5 me-2 ms-1 clockinner">
                        <div class="overflow-hidden">
                            <img src="../assets/Images/code.jpg" class="inline-block shadow" height="115" width="135">
                        </div>
                        <span>Coding Class</span>
                    </div>
                    <div class="col shadow p-1 text-center rounded-3 mt-5 me-2 ms-1 clockinner">
                        <div class="overflow-hidden">
                            <img src="../assets/Images/univ.jpg" class="inline-block shadow" height="115" width="135">
                        </div>
                        <span>University</span>
                    </div>
                    <div class="col shadow p-1 text-center rounded-3 mt-5 me-2 ms-1 clockinner">
                        <div class="overflow-hidden">
                            <img src="../assets/Images/student.jpg" class="inline-block shadow" height="115" width="135">
                        </div>
                        <span>Graduate</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>