.banner_area {
    background: url("/assets/Images/home.jpg") no-repeat center center;
    background-position: center center;
    z-index: 1;
    min-height: 300px;
    padding-top: 0 !important
}
.banner_area .banner_inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 500px;
    z-index: 1
}
.banner_area .banner_inner .overlay {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #000;
    opacity: .4
}
.banner_area .banner_inner .banner_content {
    z-index: 2;
}
a{
	text-decoration: none;
	outline: none;
}
a:hover, a:focus {
    text-decoration: none;
	outline: none;
}
.primary-btn {
	background: -webkit-linear-gradient(to right, #00aee0 0%, #00fedc 51%, #00aee0 100%);
	background: -moz-linear-gradient(to right, #00aee0 0%, #00fedc 51%, #00aee0 100%);
	background: -ms-linear-gradient(to right, #00aee0 0%, #00fedc 51%, #00aee0 100%);
	background: -o-linear-gradient(to right, #00aee0 0%, #00fedc 51%, #00aee0 100%);
	background: linear-gradient(to right, #00aee0 0%, #00fedc 51%, #00aee0 100%);
	background-size: 200% auto;
	outline: none !important;
	box-shadow: 0px 20px 50px rgba(0, 175, 224, 0.3);
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.primary-btn:hover {
	background-position: right center;
	color: #fff;
	box-shadow: none;
}
.single_instructor .author_decs {
    box-shadow: 0 0 50px rgba(153, 153, 153, .1);
    margin-top: -40px;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s
}
.single_instructor .author_decs .social_icons a {
    color: #ccc;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s
}
.single_instructor .author_decs .social_icons a:hover {
    color: #2010ff
}
.single_instructor:hover .author_decs {
    box-shadow: 0 20px 40px rgba(0, 0, 0, .3)
}