<section class="banner_area align-items-center position-relative shadow-lg mb-5">
    <div class="banner_inner position-relative overflow-hidden w-100 d-flex align-items-center">
        <div class="overlay position-absolute"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="banner_content position-relative text-light text-center">
                        <h2 class="fs-1 fw-bold">About Us</h2>
                        <p>In the history of modern astronomy, there is probably no one greater leap forward than
                            the
                            building and launch of the space telescope known as the Hubble.</p>
                        <div class="page_link inline-block border-light border-2 border-bottom border-top mt-5 p-1">
                            <a href="" class="fs-5 text-light border-light border-1 border-bottom border-top position-relative text-uppercase">Home</a>
                            <i class="fas fa-long-arrow-alt-right ms-3 me-3"></i>
                            <a routerLink="/about_us" class="fs-5 text-light border-light border-1 border-bottom border-top position-relative text-uppercase">About</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="department_area mb-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 text-center card shadow-lg mb-5 pt-3 pe-3 mt-5">
                <img class="w-100" src="../assets/Images/about.png" alt="">
            </div>
            <div class="offset-lg-1 col-lg-5 card p-3 shadow">
                <div class="card-header shadow">
                    <h1 class=" mb-1 p-3 border-bottom border-2 border-secondary">Over 2500 Courses from 5 Platform</h1>
                </div>
                <div class="card-body">
                    <p>There is a moment in the life of any aspiring astronomer that it is time to buy that first
                        telescope. It’s
                        exciting to think about setting up your own viewing station. In the life of any aspiring
                        astronomer that it is
                        time to buy that first telescope. It’s exciting to think about setting up your own viewing
                        station.</p>
                    <p>It’s exciting to think about setting up your own viewing station. In the life of any aspiring
                        astronomer that
                        it is time to buy that first telescope exciting is time to buy that first.</p>
                </div>
                <div class="card-footer shadow">
                    <a href="#" role="button"
                        class="btn primary-btn ps-3 pe-3 pt-3 pb-3 fs-6 inline-block text-center text-uppercase"><b>Explore
                            Courses</b></a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="bg-light mt-5 card shadow pt-5 pb-5">
    <div class="container">
        <div class="row justify-content-center mb-3">
            <div class="col-lg-6">
                <div class="main_title text-center mb-5">
                    <h2 class="fs-1 lh-sm fw-bold mb-3">Our Instructors</h2>
                    <p class="fs-5 m-auto lh-sm">There is a moment in the life of any aspiring astronomer that it is
                        time to buy that first
                        telescope. It’s exciting to think about setting up your own viewing station.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="single_instructor text-center mb-5">
                    <div class="author">
                        <img src="../assets/Images/ex.jpg" alt="" class="shadow" height="130" width="120">
                    </div>
                    <div class="author_decs bg-white pt-5 lh-sm ps-3 pe-3 pb-5">
                        <h4 class="mt-5">Ethel Davis</h4>
                        <p class="mb-3">Sr. Faculty Data Science</p>
                        <p class="m-0">If you are looking at blank cassettes on the web, you may be very confused at the
                            difference in price.</p>
                        <div class="social_icons mt-5">
                            <a href="#" class="text-center m-1 p-1 fs-5"><i class="fab fa-facebook-f"></i></a>
                            <a href="#" class="text-center m-1 p-1 fs-5"><i class="fab fa-whatsapp"></i></a>
                            <a href="#" class="text-center m-1 p-1 fs-5"><i class="fab fa-instagram"></i></a>
                            <a href="#" class="text-center m-1 p-1 fs-5"><i class="fab fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="single_instructor text-center mb-5">
                    <div class="author">
                        <img src="../assets/Images/ex.jpg" alt="" class="shadow" height="130" width="120">
                    </div>
                    <div class="author_decs bg-white pt-5 lh-sm ps-3 pe-3 pb-5">
                        <h4 class="mt-5">Ethel Davis</h4>
                        <p class="mb-3">Sr. Faculty Data Science</p>
                        <p class="m-0">If you are looking at blank cassettes on the web, you may be very confused at the
                            difference in price.</p>
                        <div class="social_icons mt-5">
                            <a href="#" class="text-center m-1 p-1 fs-5"><i class="fab fa-facebook-f"></i></a>
                            <a href="#" class="text-center m-1 p-1 fs-5"><i class="fab fa-whatsapp"></i></a>
                            <a href="#" class="text-center m-1 p-1 fs-5"><i class="fab fa-instagram"></i></a>
                            <a href="#" class="text-center m-1 p-1 fs-5"><i class="fab fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="single_instructor text-center mb-5">
                    <div class="author">
                        <img src="../assets/Images/ex.jpg" alt="" class="shadow" height="130" width="120">
                    </div>
                    <div class="author_decs bg-white pt-5 lh-sm ps-3 pe-3 pb-5">
                        <h4 class="mt-5">Ethel Davis</h4>
                        <p class="mb-3">Sr. Faculty Data Science</p>
                        <p class="m-0">If you are looking at blank cassettes on the web, you may be very confused at the
                            difference in price.</p>
                        <div class="social_icons mt-5">
                            <a href="#" class="text-center m-1 p-1 fs-5"><i class="fab fa-facebook-f"></i></a>
                            <a href="#" class="text-center m-1 p-1 fs-5"><i class="fab fa-whatsapp"></i></a>
                            <a href="#" class="text-center m-1 p-1 fs-5"><i class="fab fa-instagram"></i></a>
                            <a href="#" class="text-center m-1 p-1 fs-5"><i class="fab fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="single_instructor text-center mb-5">
                    <div class="author">
                        <img src="../assets/Images/ex.jpg" class="shadow" alt="" height="130" width="120">
                    </div>
                    <div class="author_decs bg-white pt-5 lh-sm ps-3 pe-3 pb-5">
                        <h4 class="mt-5">Ethel Davis</h4>
                        <p class="mb-3">Sr. Faculty Data Science</p>
                        <p class="m-0">If you are looking at blank cassettes on the web, you may be very confused at the
                            difference in price.</p>
                        <div class="social_icons mt-5">
                            <a href="#" class="text-center m-1 p-1 fs-5"><i class="fab fa-facebook-f"></i></a>
                            <a href="#" class="text-center m-1 p-1 fs-5"><i class="fab fa-whatsapp"></i></a>
                            <a href="#" class="text-center m-1 p-1 fs-5"><i class="fab fa-instagram"></i></a>
                            <a href="#" class="text-center m-1 p-1 fs-5"><i class="fab fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>