.mt-100 {
	margin-top: 100px;
}
@media (max-width: 991px) {
	.mt-100 {
		margin-top: 0px;
	}
}
.mt--100 {
	margin-top: -100px;
}
@media (max-width: 991px) {
	.mt--100 {
		margin-top: 0px;
	}
}
.section_gap {
	padding: 120px 0;
}
@media (max-width: 991px) {
	.section_gap {
		padding: 60px 0;
	}
}
.single_department {
	padding: 40px 30px;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.single_department h6 {
	color: gray;
}
.single_department:hover {
	background: -webkit-linear-gradient(90deg, #00aee0 0%, #00fedc 100%);
	background: -moz-linear-gradient(90deg, #00aee0 0%, #00fedc 100%);
	background: -ms-linear-gradient(90deg, #00aee0 0%, #00fedc 100%);
	background: -o-linear-gradient(90deg, #00aee0 0%, #00fedc 100%);
	background: linear-gradient(90deg, #00aee0 0%, #00fedc 100%);
	box-shadow: 0px 20px 50px rgba(0, 175, 224, 0.3);
}
.single_department:hover h6 {
	color: #ffffff;
}
.single_department:hover img {
	-webkit-filter: brightness(0) invert(1);
	-moz-filter: brightness(0) invert(1);
	-ms-filter: brightness(0) invert(1);
	-o-filter: brightness(0) invert(1);
	filter: brightness(0) invert(1);
}
.primary-btn {
	background: -webkit-linear-gradient(to right, #00aee0 0%, #00fedc 51%, #00aee0 100%);
	background: -moz-linear-gradient(to right, #00aee0 0%, #00fedc 51%, #00aee0 100%);
	background: -ms-linear-gradient(to right, #00aee0 0%, #00fedc 51%, #00aee0 100%);
	background: -o-linear-gradient(to right, #00aee0 0%, #00fedc 51%, #00aee0 100%);
	background: linear-gradient(to right, #00aee0 0%, #00fedc 51%, #00aee0 100%);
	background-size: 200% auto;
	outline: none !important;
	box-shadow: 0px 20px 50px rgba(0, 175, 224, 0.3);
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.primary-btn:hover {
	background-position: right center;
	color: #fff;
	box-shadow: none;
}