<div class="department_area section_gap">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="dpmt_courses">
                    <div class="row">
                        
                        <div class="col-lg-4 col-md-4 col-sm-12 col-12 text-center mt-100">
                            <div class="single_department mb-5 bg-light card">
                                <div class="dpmt_icon">
                                    <img src="../assets/Images/languages.png" alt="">
                                </div>
                                <h6 class="mt-4 mb-0">Languages</h6>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-12 col-12 text-center">
                            <div class="single_department mb-5 bg-light card">
                                <div class="dpmt_icon">
                                    <img src="../assets/Images/business.png" alt="">
                                </div>
                                <h6 class="mt-4 mb-0">Business</h6>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-12 col-12 text-center mt-100">
                            <div class="single_department mb-5 bg-light card">
                                <div class="dpmt_icon">
                                    <img src="../assets/Images/literature.png">
                                </div>
                                <h6 class="mt-4 mb-0">Literature</h6>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-12 col-12 text-center">
                            <div class="single_department mb-5 bg-light card">
                                <div class="dpmt_icon">
                                    <img src="../assets/Images/software.png">
                                </div>
                                <h6 class="mt-4 mb-0">Software</h6>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-12 col-12 text-center mt--100">
                            <div class="single_department mb-5 bg-light card">
                                <div class="dpmt_icon">
                                    <img src="../assets/Images/design.png">
                                </div>
                                <h6 class="mt-4 mb-0">Design</h6>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-12 col-12 text-center">
                            <div class="single_department mb-5 bg-light card">
                                <div class="dpmt_icon">
                                    <img src="../assets/Images/coaching.png">
                                </div>
                                <h6 class="mt-4 mb-0">Coaching</h6>
                            </div>
                        </div>

                        <div class="offset-lg-4 col-lg-4 col-md-4 col-sm-12 col-12 text-center mt--100">
                            <div class="single_department mb-5 bg-light card">
                                <div class="dpmt_icon">
                                    <img src="../assets/Images/development.png">
                                </div>
                                <h6 class="mt-4 mb-0">Development</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="offset-lg-1 col-lg-5 card p-3 shadow ">
                <div class="card-header shadow">
                    <h1 class=" mb-1 p-3 border-bottom border-2 border-secondary">Over 2500 Courses from 5 Platform</h1>
                </div>
                <div class="card-body">
                    <p>There is a moment in the life of any aspiring astronomer that it is time to buy that first
                        telescope. It’s
                        exciting to think about setting up your own viewing station. In the life of any aspiring
                        astronomer that it is
                        time to buy that first telescope. It’s exciting to think about setting up your own viewing
                        station.</p>
                    <p>It’s exciting to think about setting up your own viewing station. In the life of any aspiring
                        astronomer that
                        it is time to buy that first telescope exciting is time to buy that first.</p>
                </div>
                <div class="card-footer shadow">
                    <a href="#" role="button" class="btn primary-btn ps-2 pe-2 pt-3 pb-3 inline-block text-center text-uppercase">Explore Courses</a>
                  </div>
            </div>
        </div>
    </div>
</div>