<footer class="footer-area mt-5 pt-5 pb-5 section_gap" style="background-color: #000;">
    <div class="container-fiuld ms-5 me-5 ps-3 pe-3">
        <div class="row">
            <div class="col-lg-2 col-md-6 single-footer-widget">
                <h4 class="text-light">Top Products</h4>
                <ul class="ps-0">
                    <li class="mt-3"><a href="#">Managed Website</a></li>
                    <li class="mt-3"><a href="#">Manage Reputation</a></li>
                    <li class="mt-3"><a href="#">Power Tools</a></li>
                    <li class="mt-3"><a href="#">Marketing Service</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 single-footer-widget">
                <h4 class="text-light">Quick Links</h4>
                <ul class="ps-0">
                    <li class="mt-3"><a href="#">Jobs</a></li>
                    <li class="mt-3"><a href="#">Brand Assets</a></li>
                    <li class="mt-3"><a href="#">Investor Relations</a></li>
                    <li class="mt-3"><a href="#">Terms of Service</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 single-footer-widget">
                <h4 class="text-light">Features</h4>
                <ul class="ps-0">
                    <li class="mt-3"><a href="#">Jobs</a></li>
                    <li class="mt-3"><a href="#">Brand Assets</a></li>
                    <li class="mt-3"><a href="#">Investor Relations</a></li>
                    <li class="mt-3"><a href="#">Terms of Service</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 single-footer-widget">
                <h4 class="text-light">Resources</h4>
                <ul class="ps-0">
                    <li class="mt-3"><a href="#">Guides</a></li>
                    <li class="mt-3"><a href="#">Research</a></li>
                    <li class="mt-3"><a href="#">Experts</a></li>
                    <li class="mt-3"><a href="#">Agencies</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6 single-footer-widget">
                <h4 class="text-light mb-3">Newsletter</h4>
                <p>You can trust us. we only send promo offers,</p>
                <div class="form-wrap mt-4">
                    <form action="" class="form_box pt-2 pb-2 shadow d-flex justify-content-between w-100">
                        <input type="email" name="EMAIL" placeholder="Your Email Address" class="form-control border-0 inline-block text-light fs-5 bg-transparent">
                        <!-- <button type="submit" class="btn float-end click-btn shadow position-relative border-0 fw-normal text-uppercase">subscribe</button> -->
                    </form>
                    <a type="submit" class="btn float-end w-100 card click-btn shadow position-relative border-0 fw-normal text-uppercase">subscribe</a>
                </div>
            </div>
        </div>
        <div class="row footer-bottom mt-5 d-flex justify-content-between">
            <p class="col-lg-8 col-sm-12 footer-text m-0 text-white">Copyright by Vijay Mishra © 2021 All rights reserved. <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="#">Mishra_11</a></p>
            <div class="col-lg-4 col-sm-12 text-end mt-4 footer-social">
                <a href="#" class="text-center m-1 pt-2 pb-1 fs-5"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="text-center m-1 pt-2 pb-1 fs-5"><i class="fab fa-whatsapp"></i></a>
                <a href="#" class="text-center m-1 pt-2 pb-1 fs-5"><i class="fab fa-instagram"></i></a>
                <a href="#" class="text-center m-1 pt-2 pb-1 fs-5"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
    </div>
</footer>