.footer-area .single-footer-widget ul li a,
p {
	color: #777
}
.footer-area .single-footer-widget ul li a:hover {
	color: #fff
}
.footer-area .single-footer-widget input {
	background: #333;
	color: #fff;
}
.footer-area .single-footer-widget input:focus {
	outline: none;
	box-shadow: none
}
.footer-area .single-footer-widget .click-btn {
	background: -webkit-linear-gradient(to right, #00aee0 0%, #00fedc 51%, #00aee0 100%);
	background: -moz-linear-gradient(to right, #00aee0 0%, #00fedc 51%, #00aee0 100%);
	background: -ms-linear-gradient(to right, #00aee0 0%, #00fedc 51%, #00aee0 100%);
	background: -o-linear-gradient(to right, #00aee0 0%, #00fedc 51%, #00aee0 100%);
	background: linear-gradient(to right, #00aee0 0%, #00fedc 51%, #00aee0 100%);
	background-size: 200% auto;
	border-radius: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	margin-left: -60px;
	font-size: 12px;
	text-transform: uppercase;
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	border: 0;
	-webkit-transition: all .3s ease 0s;
	-moz-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
	transition: all .3s ease 0s
}
.footer-area .single-footer-widget .click-btn:hover {
	background-position: right center;
	color: #fff;
}
.footer-area .footer-bottom a {
	color: #00aee0
}
.footer-area .footer-bottom .footer-social a {
	background: #111;
	width: 20px;
	width: 40px;
	display: inline-table;
	height: 40px;
	color: #ccc;
	-webkit-transition: all .3s ease 0s;
	-moz-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
	transition: all .3s ease 0s
}
.footer-area .footer-bottom .footer-social a:hover i {
	color: #fff
}
.form_box {
	background: rgba(255, 255, 255, .15);
    padding-left: 0;
}
a:hover,a:focus {
	color: #0056b3;
	text-decoration: none;
	outline: none;
}
a {
	text-decoration: none;
	transition: all .3s ease-in-out;
}
.footer-area .footer-bottom .footer-social a:hover {
	background: -webkit-linear-gradient(90deg, #00aee0 0%, #00fedc 100%);
	background: -moz-linear-gradient(90deg, #00aee0 0%, #00fedc 100%);
	background: -ms-linear-gradient(90deg, #00aee0 0%, #00fedc 100%);
	background: -o-linear-gradient(90deg, #00aee0 0%, #00fedc 100%);
	background: linear-gradient(90deg, #00aee0 0%, #00fedc 100%)
}