<section class="banner_area align-items-center position-relative shadow-lg mb-5">
    <div class="banner_inner position-relative overflow-hidden w-100 d-flex align-items-center">
        <div class="overlay position-absolute"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="banner_content position-relative text-light text-center">
                        <h2 class="fs-1 fw-bold">Courses Details</h2>
                        <p>In the history of modern astronomy, there is probably no one greater leap forward than
                            the
                            building and launch of the space telescope known as the Hubble.</p>
                        <div class="page_link inline-block border-light border-2 border-bottom border-top mt-5 p-1">
                            <a routerLink="/"
                                class="fs-5 text-light border-light border-1 border-bottom border-top position-relative text-uppercase">Home</a>
                            <i class="fas fa-long-arrow-alt-right ms-3 me-3"></i>
                            <a routerLink="/popular_courses"
                                class="fs-5 text-light border-light border-1 border-bottom border-top position-relative text-uppercase">Courses</a>
                            <i class="fas fa-long-arrow-alt-right ms-3 me-3"></i>
                            <a routerLink="/courses_details"
                                class="fs-5 text-light border-light border-1 border-bottom border-top position-relative text-uppercase">Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="course_details_area">
    <div class="container  card shadow pt-5 rounded-3">
        <div class="row">
            <div class="col-lg-8 course_details_left shadow">
                <div class="main_image">
                    <img class="img-fluid shadow" src="../assets/Images/details.png" alt="">
                </div>
                <div class="content_wrapper">
                    <h4 class="title border-bottom fs-5 mt-5 position-relative pb-2">Objectives</h4>
                    <div class="content">
                        When you enter into any new area of science, you almost always find yourself with a
                        baffling new language of
                        technical terms to learn before you can converse with the experts. This is certainly
                        true in astronomy both in
                        terms of terms that refer to the cosmos and terms that describe the tools of the trade,
                        the most prevalent
                        being the telescope.
                        <br>
                        <br>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore
                        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                        ut aliquip ex ea
                        commodoconsequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum. Lorem ipsum dolor sit
                        amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim
                        ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                        commodo consequat. Duis aute
                        irure dolor in reprehenderit in voluptate velit esse cillum.
                    </div>
                    <h4 class="title border-bottom fs-5 mt-5 position-relative pb-2">Eligibility</h4>
                    <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore
                        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                        ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.
                        <br>
                        <br>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore
                        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                        ut aliquip ex ea
                        commodoconsequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum. Lorem ipsum dolor sit
                        amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim
                        ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                        commodo consequat. Duis aute
                        irure dolor in reprehenderit in voluptate velit esse cillum.
                    </div>
                    <h4 class="title border-bottom fs-5 mt-5 position-relative pb-2">Course Outline</h4>
                    <div class="content mt-3">
                        <ul class="course_list ps-0 mb-0 list-unstyled">
                            <li class="justify-content-between shadow-sm pt-3 card d-flex mb-4">
                                <p class="fw-bold lh-1 text-center fs-4">Introduction Lesson</p>
                                <a class="primary-btn text-uppercase btn text-center fs-0" href="#">View Details</a>
                            </li>
                            <li class="justify-content-between shadow-sm pt-3 card d-flex mb-4">
                                <p class="fw-bold lh-1 text-center fs-4">Basics of HTML</p>
                                <a class="primary-btn text-uppercase btn text-center fs-0" href="#">View Details</a>
                            </li>
                            <li class="justify-content-between shadow-sm pt-3 card d-flex mb-4">
                                <p class="fw-bold lh-1 text-center fs-4">Getting Know about HTML</p>
                                <a class="primary-btn text-uppercase btn text-center fs-0" href="#">View Details</a>
                            </li>
                            <li class="justify-content-between shadow-sm pt-3 card d-flex mb-4">
                                <p class="fw-bold lh-1 text-center fs-4">Tags and Attributes</p>
                                <a class="primary-btn text-uppercase btn text-center fs-0" href="#">View Details</a>
                            </li>
                            <li class="justify-content-between shadow-sm pt-3 card d-flex mb-4">
                                <p class="fw-bold lh-1 text-center fs-4">Basics of CSS</p>
                                <a class="primary-btn text-uppercase btn text-center fs-0" href="#">View Details</a>
                            </li>
                            <li class="justify-content-between shadow-sm pt-3 card d-flex mb-4">
                                <p class="fw-bold lh-1 text-center fs-4">Getting Familiar with CSS</p>
                                <a class="primary-btn text-uppercase btn text-center fs-0" href="#">View Details</a>
                            </li>
                            <li class="justify-content-between shadow-sm pt-3 card d-flex mb-4">
                                <p class="fw-bold lh-1 text-center fs-4">Introduction to Bootstrap</p>
                                <a class="primary-btn text-uppercase btn text-center fs-0" href="#">View Details</a>
                            </li>
                            <li class="justify-content-between shadow-sm pt-3 card d-flex mb-4">
                                <p class="fw-bold lh-1 text-center fs-4">Responsive Design</p>
                                <a class="primary-btn text-uppercase btn text-center fs-0" href="#">View Details</a>
                            </li>
                            <li class="justify-content-between shadow-sm pt-3 card d-flex mb-4">
                                <p class="fw-bold lh-1 text-center fs-4">Canvas in HTML 5</p>
                                <a class="primary-btn text-uppercase card btn text-center fs-0" href="#">View Details</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 shadow right-contents">
                <ul class="ps-0 list-unstyled mb-3">
                    <li class="mb-3 shadow p-3">
                        <a class="justify-content-between text-align-end d-flex" href="#">
                            <p class="mb-0">Trainer’s Name</p>
                            <span class="text-dark">George Mathews</span>
                        </a>
                    </li>
                    <li class="mb-3 shadow p-3">
                        <a class="justify-content-between text-align-end d-flex" href="#">
                            <p class="mb-0">Course Fee </p>
                            <span>$230</span>
                        </a>
                    </li>
                    <li class="mb-3 shadow p-3">
                        <a class="justify-content-between text-align-end d-flex" href="#">
                            <p class="mb-0">Available Seats </p>
                            <span>15</span>
                        </a>
                    </li>
                    <li class="mb-3 shadow p-3">
                        <a class="justify-content-between text-align-end d-flex" href="#">
                            <p class="mb-0">Schedule </p>
                            <span>2.00 pm to 4.00 pm</span>
                        </a>
                    </li>
                </ul>
                <a href="#" role="button" class="btn primary-btn w-100 pt-3 pb-3 fs-6 inline-block text-center text-uppercase"><b>Enroll the course</b></a>
                <h4 class="title border-bottom fs-5 mt-5 position-relative pb-2">Reviews</h4>
                <div class="content">
                    <div class="review-top row pt-4">
                        <div class="col-lg-12">
                            <h6 class="mb-3">Provide Your Rating</h6>
                            <div class="d-flex flex-row reviews lh-1 justify-content-between">
                                <span class="mb-2">Quality</span>
                                <div class="star mb-2">
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <span class="mb-2">Outstanding</span>
                            </div>
                            <div class="d-flex flex-row lh-1 reviews justify-content-between">
                                <span class="mb-2">Punctuality</span>
                                <div class="star mb-2">
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <span class="mb-2">Excellent</span>
                            </div>
                            <div class="d-flex flex-row reviews lh-1 justify-content-between">
                                <span class="mb-2">Quality</span>
                                <div class="star mb-2">
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <span class="mb-2">Outstanding</span>
                            </div>
                        </div>
                    </div>
                    <div class="feedeback mb-5 mt-5">
                        <h6>Your Feedback</h6>
                        <textarea name="feedback" class="form-control" cols="10" rows="10"></textarea>
                        <div class="mt-3 text-end">
                            <a href="#" role="button" class="btn primary-btn ps-3 pe-3 pt-2 pb-2 inline-block text-center text-uppercase"><b>Submit</b></a>
                        </div>
                    </div>
                    <div class="comments-area p-0 border-0 bg-transparent mb-5">
                        <div class="comment-list">
                            <div class="single-comment single-reviews justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">
                                    <div class="thumb">
                                        <img src="img/blog/c1.jpg" alt="">
                                    </div>
                                    <div class="desc">
                                        <h5 class="me-2 d-inline-flex"><a href="#" class="text-info">Emilly Blunt</a>
                                            <div class="star ms-3">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                        </h5>
                                        <p class="comment">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                            eiusmod tempor incididunt ut labore et dolore.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment-list">
                            <div class="single-comment single-reviews justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">
                                    <div class="thumb">
                                        <img src="img/blog/c2.jpg" alt="">
                                    </div>
                                    <div class="desc">
                                        <h5 class="me-2 d-inline-flex"><a href="#" class="text-info">Elsie Cunningham</a>
                                            <div class="star ms-3">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                        </h5>
                                        <p class="comment">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                            eiusmod tempor incididunt ut labore et dolore.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment-list">
                            <div class="single-comment single-reviews justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">
                                    <div class="thumb">
                                        <img src="img/blog/c3.jpg" alt="">
                                    </div>
                                    <div class="desc">
                                        <h5 class="me-2 d-inline-flex"><a href="#" class="text-info">Maria Luna</a>
                                            <div class="star ms-3">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                        </h5>
                                        <p class="comment">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                            eiusmod tempor incididunt ut labore et dolore.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment-list">
                            <div class="single-comment single-reviews justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">
                                    <div class="thumb">
                                        <img src="img/blog/c2.jpg" alt="">
                                    </div>
                                    <div class="desc">
                                        <h5 class="me-2 d-inline-flex"><a href="#" class="text-info">Elsie Cunningham</a>
                                            <div class="star ms-3">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                        </h5>
                                        <p class="comment">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                            eiusmod tempor incididunt ut labore et dolore.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment-list">
                            <div class="single-comment single-reviews justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">
                                    <div class="thumb">
                                        <img src="img/blog/c2.jpg" alt="">
                                    </div>
                                    <div class="desc">
                                        <h5 class="me-2 d-inline-flex"><a href="#" class="text-info">Elsie Cunningham</a>
                                            <div class="star ms-3">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                        </h5>
                                        <p class="comment">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                            eiusmod tempor incididunt ut labore et dolore.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>