<div class="min-vh-100 d-none d-md-block col-md-1 col-lg-1 col-xl-1 border-end border-secondary border-3 bg-light">
    <div class="flex-shrink-0 side">
        <ul class="list-unstyled ps-0">
            <li class="mb-3 ideal-btn">
                <a class="side_item btn text-light align-items-center ms-0" href="/respondent/">
                    Problem
                </a>
            </li>
            <li class="mb-3">
                <a class="side_item btn align-items-center ms-0"  href="/respondent/empathy">
                    Empathy
                </a>
            </li>
            <li class="mb-3">
                <a class="side_item btn align-items-center ms-0">
                    Refine
                </a>
            </li>
            <li class="mb-3">
                <a class="side_item btn align-items-center ms-0">
                    Ideate
                </a>
            </li>
            <li class="mb-3">
                <a class="side_item btn align-items-center ms-0" >
                    Implement
                </a>
            </li>
            <li class="mb-3">
                <a class="side_item btn align-items-center ms-0">
                    Report
                </a>
            </li>
        </ul>
    </div>
    
</div>
<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
    <nav class="navbar navbar-expand-lg navbar-light  d-block d-md-none">
        <div class="container-fluid">
            <span class="navbar-brand"></span>
            <button class="navbar-toggler " onclick="icon();" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02"
                aria-expanded="false" aria-label="Toggle navigation"> <i id="icon"
                    class="fas fa-angle-double-down"></i>
            </button>
            <div class="collapse navbar-collapse " id="navbarTogglerDemo02">
                <div class="flex-shrink-0 side">
                    <ul class="list-unstyled ps-0">
                        <li class="mb-3 ideal-btn">
                            <a class="side_item btn text-light align-items-center ms-0" href="/respondent/">
                                Problem
                            </a>
                        </li>
                        <li class="mb-3">
                            <a class="side_item btn align-items-center ms-0"  href="/respondent/empathy">
                                Empathy
                            </a>
                        </li>
                        <li class="mb-3">
                            <a class="side_item btn align-items-center ms-0">
                                Refine
                            </a>
                        </li>
                        <li class="mb-3">
                            <a class="side_item btn align-items-center ms-0">
                                Ideate
                            </a>
                        </li>
                        <li class="mb-3">
                            <a class="side_item btn align-items-center ms-0" >
                                Implement
                            </a>
                        </li>
                        <li class="mb-3">
                            <a class="side_item btn align-items-center ms-0">
                                Report
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    