/* You can add global styles to this file, and also import other style files */
body{
    font-family: "Crimson Text", serif;
    /* overflow: scroll; */
}
.loader{
    background-color: #1e25359d;
    z-index: 10000 !important;
}
.loader>div{ 
    height: 100px;
    width: 100px;
    border: 15px solid #9ba4b8;
    border-top-color: #00aee0 ;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    animation: spin 1.5s infinite linear;
}
@keyframes spin {
    100%{
        transform: rotate(360deg);
    }            
}