<section class="banner_area position-relative shadow-lg mb-5">
  <div class="banner_inner position-relative overflow-hidden w-100 d-flex align-items-center">
      <div class="overlay position-absolute"></div>
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-lg-6">
                  <div class="banner_content position-relative text-light text-center">
                      <h2 class="fs-1 fw-bold">Courses</h2>
                      <p>In the history of modern astronomy, there is probably no one greater leap forward than
                          the
                          building and launch of the space telescope known as the Hubble.</p>
                      <div class="page_link inline-block border-light border-2 border-bottom border-top mt-5 p-1">
                          <a href="" class="fs-5 text-light border-light border-1 border-bottom border-top position-relative text-uppercase">Home</a>
                          <i class="fas fa-long-arrow-alt-right ms-3 me-3"></i>
                          <a routerLink="/popular_courses" class="fs-5 text-light border-light border-1 border-bottom border-top position-relative text-uppercase">Courses</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<div class="popular mt-5 mb-5 pt-5 pb-5">
  <div class="container-fluid card bg-light p-5 shadow">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="main_title border-bottom border-2 border-secondary text-center mb-5">
          <h2 class="fs-1 fw-bold lh-sm mb-4">Popular Courses</h2>
          <p class="fs-6 mb-1 fw-normal m-auto w-100">There is a moment in the life of any aspiring astronomer that it
            is time to buy that first telescope. It’s
            exciting to think about setting up your own viewing station.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 card bg mb-5">
        <div class="single_course pt-3">
          <div class="course_head position-relative text-center p-2 rounded-3 overflow-hidden bg-secondary ">
            <img src="../assets/Images/authr.png" class="me-2" alt="">
            <span class="fw-normal">Mart Taylor</span>
          </div>
          <div class="course_content mt-3">
            <h4>
              <a href="/#">Learn React js beginners
              </a>
            </h4>
            <p class="">When television was young, there was a huge popular show based on the still popular fictional
              character
              of
              Superman.
            </p>
            <div class="mt-2 mb-3 d-flex justify-content-between">
              <span class="me-1 float-start">
                <a href="/#" class="text-dark fw-bold">
                  <i class="fas fa-users m-1"></i>355
                </a>
              </span>
              <span class="ms-1 float-end">
                <a href="/#" class="text-dark fw-bold">
                  <i class="far fa-comment-alt m-1"></i>35
                </a>
              </span>
            </div>
          </div>
        </div>
        <div class="card-footer price ps-3 text-center mb-3 pe-3 pt-2 fw-bold text-light pb-2 shadow">$150
        </div>
      </div>
      <div class="col-lg-3 col-md-6 card bg mb-5">
        <div class="single_course pt-3">
          <div class="course_head position-relative text-center p-2 rounded-3 overflow-hidden bg-secondary ">
            <img src="../assets/Images/authr.png" class="me-2" alt="">
            <span class="fw-normal">Mart Taylor</span>
          </div>
          <div class="course_content mt-3">
            <h4>
              <a href="/#">Learn React js beginners
              </a>
            </h4>
            <p class="">When television was young, there was a huge popular show based on the still popular fictional
              character
              of
              Superman.
            </p>
            <div class="mt-2 mb-3 d-flex justify-content-between">
              <span class="me-1 float-start">
                <a href="/#" class="text-dark fw-bold">
                  <i class="fas fa-users m-1"></i>355
                </a>
              </span>
              <span class="ms-1 float-end">
                <a href="/#" class="text-dark fw-bold">
                  <i class="far fa-comment-alt m-1"></i>35
                </a>
              </span>
            </div>
          </div>
        </div>
        <div class="card-footer price ps-3 text-center mb-3 pe-3 pt-2 fw-bold text-light pb-2 shadow">$150
        </div>
      </div>
      <div class="col-lg-3 col-md-6 card bg mb-5">
        <div class="single_course pt-3">
          <div class="course_head position-relative text-center p-2 rounded-3 overflow-hidden bg-secondary ">
            <img src="../assets/Images/authr.png" class="me-2" alt="">
            <span class="fw-normal">Mart Taylor</span>
          </div>
          <div class="course_content mt-3">
            <h4>
              <a href="/#">Learn React js beginners
              </a>
            </h4>
            <p class="">When television was young, there was a huge popular show based on the still popular fictional
              character
              of
              Superman.
            </p>
            <div class="mt-2 mb-3 d-flex justify-content-between">
              <span class="me-1 float-start">
                <a href="/#" class="text-dark fw-bold">
                  <i class="fas fa-users m-1"></i>355
                </a>
              </span>
              <span class="ms-1 float-end">
                <a href="/#" class="text-dark fw-bold">
                  <i class="far fa-comment-alt m-1"></i>35
                </a>
              </span>
            </div>
          </div>
        </div>
        <div class="card-footer price ps-3 text-center mb-3 pe-3 pt-2 fw-bold text-light pb-2 shadow">$150
        </div>
      </div>
      <div class="col-lg-3 col-md-6 card bg mb-5">
        <div class="single_course pt-3">
          <div class="course_head position-relative text-center p-2 rounded-3 overflow-hidden bg-secondary ">
            <img src="../assets/Images/authr.png" class="me-2" alt="">
            <span class="fw-normal">Mart Taylor</span>
          </div>
          <div class="course_content mt-3">
            <h4>
              <a href="/#">Learn React js beginners
              </a>
            </h4>
            <p class="">When television was young, there was a huge popular show based on the still popular fictional
              character
              of
              Superman.
            </p>
            <div class="mt-2 mb-3 d-flex justify-content-between">
              <span class="me-1 float-start">
                <a href="/#" class="text-dark fw-bold">
                  <i class="fas fa-users m-1"></i>355
                </a>
              </span>
              <span class="ms-1 float-end">
                <a href="/#" class="text-dark fw-bold">
                  <i class="far fa-comment-alt m-1"></i>35
                </a>
              </span>
            </div>
          </div>
        </div>
        <div class="card-footer price ps-3 text-center mb-3 pe-3 pt-2 fw-bold text-light pb-2 shadow">$150
        </div>
      </div>
    </div>
  </div>
</div>